body {
    padding: 0;
    margin: 0;
    font-family: 'PT Mono', serif;
    color: #ffffff;
  }

.gameWindow {
    display: block;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .minimap {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background: rgba(0, 0, 0, 0.8);
  }

.UI {
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }

  .stats {
    position: absolute;
    top: 15px;
    left: 1%;
    font-size: 20px;
  }

  .controls {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    line-height: 1.6;
  }

  .endgame{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
  }